In [106]:
import pandas as pd
import numpy as np

In [107]:
file = pd.ExcelFile('/Users/lirving/jamaican-salaries-2017/The-Great-Jamaican-Salary-Survey-report.xlsx')

In [108]:
print(file.sheet_names)

['results']

In [109]:
survey = file.parse('results')

In [110]:
#Inspect data

print(survey.head())

                                  # Which age group do you belong to?  \
0  1fd874a48fe48854960e8950861355d7                           25 - 30
1  9b560ff8316bc41d453045780ba37f58                           18 - 24
2  6c8b59b47ce982811f8a43e2deb78480                           31 - 35
3  d571a15b7786263e920d4c347cba83c4                           18 - 24
4  d2b2bc421b6d67368cde060ea89f9ce3                           35 - 40

  Which gender do you identify with? What is your highest level of education?  \
0                                Man                        Bachelor's Degree
1                              Woman                        Bachelor's Degree
2                              Woman                        Bachelor's Degree
3                              Woman               Postgraduate Certification
4                                Man                          Master's Degree

   Have you received any educational/professional qualifications from an institution outside of Jamaica?  \
0                                                  0
1                                                  0
2                                                  0
3                                                  0
4                                                  1

     Which field are you working in?  \
0             Information Technology
1  Customer Service and Call Centres
2                  Creative Services
3                          Marketing
4             Information Technology

  How much experience do you have in your field?  \
0                                    5 - 7 years
1                                    0 - 2 years
2                                    7 - 9 years
3                                    3 - 5 years
4                                   Over 9 years

  How long have you been in your current role?  \
0                                  5 - 6 years
1                             Less than 1 year
2                                 9 - 10 years
3                             Less than 1 year
4                                 9 - 10 years

  What is your current net (take home) monthly salary?  Lunch allowance  \
0                                $150,001 - $170,000                NaN
1                                  $70,001 - $90,000                NaN
2                                $230,001 - $250,000    Lunch allowance
3                                $130,001 - $150,000                NaN
4                                $190,001 - $210,000                NaN

      ...     Select the rank of your current position Other.1  \
0     ...                                  Supervisory     NaN
1     ...                                  Entry level     NaN
2     ...                                  Supervisory     NaN
3     ...                                  Entry level     NaN
4     ...                                  Supervisory     NaN

  Are you able to comfortably meet your BASIC living expenses with your current income?  \
0                                                  1
1                                                  1
2                                                  0
3                                                  1
4                                                  1

  After taking care of your basic living expenses, would you say you have enough left over to take care of the fun stuff (eating out, entertainment, leisure, treating yourself, etc.)?  \
0                                                  1
1                                                  1
2                                                  0
3                                                  0
4                                                  1

  Do you have a general idea of what salaries are like in your field?  \
0                                                  1
1                                                  1
2                                                  1
3                                                  0
4                                                  1

  Select the statement that best describes your attitude towards your salary.  \
0  I believe that I am underpaid, considering my ...
1  I believe that I am underpaid, considering my ...
2  I believe that I am underpaid, considering my ...
3  I believe that I am adequately paid, consideri...
4  I believe that I am underpaid, considering my ...

  How satisfied are you with your current salary?     Start Date (UTC)  \
0                                               5  2017-01-03 21:59:45
1                                               5  2017-01-03 21:59:53
2                                               5  2017-01-03 22:01:09
3                                               5  2017-01-03 22:01:38
4                                               6  2017-01-03 22:01:15

     Submit Date (UTC)  Network ID
0  2017-01-03 22:01:23  7c06774c6c
1  2017-01-03 22:01:48  58ca3ef9e1
2  2017-01-03 22:03:20  5345e02efc
3  2017-01-03 22:03:25  7a079f8e29
4  2017-01-03 22:04:15  3ac97c1eaa

[5 rows x 26 columns]

In [111]:
#Delete unnecessary columns
survey = survey.drop (['#','None','Other.1', 'Start Date (UTC)','Submit Date (UTC)', 'Network ID'], axis=1)

In [112]:
#Rename remaining columns
survey.columns = ['age','gender','education','foreign_edu','field','experience','time_current_role','monthly_salary',
                  'lunch', 'vehicle', 'clothing', 'health_insurance', 'cellphone', 'other_benefits', 'job_level',
                  'basic_expenses', 'entertainment', 'salary_knowledge', 'outlook', 'salary_satisfaction']

In [113]:
survey['gender']= survey['gender'].replace({'Man': 'Male', 'Woman':'Female'})

In [114]:
survey['outlook']= survey['outlook'].replace({'I believe that I am underpaid, considering my skills, qualifications and experience.':'underpaid',
                          'I believe that I am adequately paid, considering my skills, qualifications and experience.':'adequately_paid',
                          'I believe that I am generously paid, considering my skills, qualifications and experience.':'generously_paid',
                          'I believe that I am vastly overpaid, considering my skills, qualifications and experience.':'overpaid'})

In [115]:
survey['lunch']= survey['lunch'].replace({'Lunch allowance':1, np.nan:0})
survey['vehicle']= survey['vehicle'].replace({'Vehicle maintenance ':1, np.nan:0})
survey['clothing']= survey['clothing'].replace({'Clothing allowance':1, np.nan:0})
survey['health_insurance']= survey['health_insurance'].replace({'Health insurance':1, np.nan:0})
survey['cellphone'] = survey['cellphone'].replace({'Cell phone':1, np.nan:0})

In [116]:
#Change variables to appropriate data types
survey['age'] = survey['age'].astype('category')
survey['gender'] = survey['gender'].astype('category')
survey['education'] = survey['education'].astype('category')
survey['field'] = survey['field'].astype('category')
survey['experience'] = survey['experience'].astype('category')
survey['time_current_role'] = survey['time_current_role'].astype('category')
survey['monthly_salary'] = survey['monthly_salary'].astype('category')
survey['job_level'] = survey['job_level'].astype('category')
survey['outlook'] = survey['outlook'].astype('category')

In [117]:
survey.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 745 entries, 0 to 744
Data columns (total 20 columns):
age                    745 non-null category
gender                 745 non-null category
education              745 non-null category
foreign_edu            745 non-null int64
field                  745 non-null category
experience             745 non-null category
time_current_role      745 non-null category
monthly_salary         745 non-null category
lunch                  745 non-null int64
vehicle                745 non-null int64
clothing               745 non-null int64
health_insurance       745 non-null int64
cellphone              745 non-null int64
other_benefits         74 non-null object
job_level              683 non-null category
basic_expenses         745 non-null int64
entertainment          745 non-null int64
salary_knowledge       745 non-null int64
outlook                745 non-null category
salary_satisfaction    745 non-null int64
dtypes: category(9), int64(10), object(1)
memory usage: 75.7+ KB

In [118]:
print(survey.head())

       age  gender                   education  foreign_edu  \
0  25 - 30    Male           Bachelor's Degree            0
1  18 - 24  Female           Bachelor's Degree            0
2  31 - 35  Female           Bachelor's Degree            0
3  18 - 24  Female  Postgraduate Certification            0
4  35 - 40    Male             Master's Degree            1

                               field    experience time_current_role  \
0             Information Technology   5 - 7 years       5 - 6 years
1  Customer Service and Call Centres   0 - 2 years  Less than 1 year
2                  Creative Services   7 - 9 years      9 - 10 years
3                          Marketing   3 - 5 years  Less than 1 year
4             Information Technology  Over 9 years      9 - 10 years

        monthly_salary  lunch  vehicle  clothing  health_insurance  cellphone  \
0  $150,001 - $170,000      0        0         0                 1          0
1    $70,001 - $90,000      0        0         0                 0          0
2  $230,001 - $250,000      1        1         0                 1          0
3  $130,001 - $150,000      0        0         0                 0          0
4  $190,001 - $210,000      0        1         1                 1          0

  other_benefits    job_level  basic_expenses  entertainment  \
0            NaN  Supervisory               1              1
1            NaN  Entry level               1              1
2            NaN  Supervisory               0              0
3            NaN  Entry level               1              0
4            NaN  Supervisory               1              1

   salary_knowledge          outlook  salary_satisfaction
0                 1        underpaid                    5
1                 1        underpaid                    5
2                 1        underpaid                    5
3                 0  adequately_paid                    5
4                 1        underpaid                    6